a {
    font-family: serif;
    text-decoration: none;
    font-weight: none;
}
a:link {
    color:blue;
}
a:visited {
    color:orange;
}
a:hover {
    background-color: yellow;
    text-decoration: underline;
}
a:active{
    color:green;
}
body {
	background-color: #b7d1c4
}

#cover {
    background: url("http://f1.bcbits.com/img/a0422430750_16.jpg");
	height: 700px;
	width:  700px;

}
h5 {
    font-family: inherit
}
h2 {
    font-family: sans-serif
}
li {
    font-style: italic
}
td {
    font-style: italic;
}
tbody tr:nth-child(even){
    background-color:pink;
}
tbody tr:nth-child(odd) {
    background-color: palegreen;
}